<h1 mat-dialog-title>
    <mat-icon *ngIf="data.channel.type === 'text'">tag</mat-icon>
    <mat-icon *ngIf="data.channel.type === 'voice'">volume_up</mat-icon>
    Vous modifiez {{data.channel.fullname}}
</h1>
<mat-dialog-content>
    <app-channel-form [channelToUpdate]="data.channel" [channelType]="data.channel.type" [asso]="data.asso"></app-channel-form>
</mat-dialog-content>