<div class="search">
    <mat-form-field class="f1" appearance="outline">
      <mat-label>Rechercher un utilisateur</mat-label>
      <input
          #input
          matInput
          placeholder="Ominga..."
          (keyup)="applyFilter($event)">
  </mat-form-field>
</div>
<div class="list">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- Role Column -->
        <ng-container matColumnDef="role" *ngIf="userType === 'role'">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="role"> Role </th>
          <td mat-cell *matCellDef="let element" [ngSwitch]="element.role" class="role"> 
            <mat-icon *ngSwitchCase="5" matTooltip="Administrateur">security</mat-icon>
            <mat-icon *ngSwitchCase="4" matTooltip="Super modérateur">local_police</mat-icon>
            <mat-icon *ngSwitchCase="3" matTooltip="Modérateur">shield</mat-icon>
            <mat-icon *ngSwitchCase="2" matTooltip="Référent">supervisor_account</mat-icon>
            <mat-icon *ngSwitchCase="1" matTooltip="Staff">person</mat-icon>
            <mat-icon *ngSwitchCase="0" matTooltip="Visiteur">minimize</mat-icon>
          </td>
        </ng-container>

        <!-- status Column -->
        <ng-container matColumnDef="status" *ngIf="userType === 'status'">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="role"> Statut </th>
          <td mat-cell *matCellDef="let element" [ngSwitch]="element.status" class="role"> 
            <mat-icon *ngSwitchCase="2" matTooltip="Accepté" color="primary">verified</mat-icon>
            <mat-icon *ngSwitchCase="1" matTooltip="En attente" color="accent">hourglass_empty</mat-icon>
            <mat-icon *ngSwitchCase="0" matTooltip="Refusé" color="warn">do_disturb_on</mat-icon>
          </td>
        </ng-container>

        <!-- Username Column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <!-- Firstname Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <!-- Lastname Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>
      
        <!-- School Column -->
        <ng-container matColumnDef="school">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="school"> École </th>
          <td mat-cell *matCellDef="let element" class="school"> {{element.school}} </td>
        </ng-container>
      
        <!-- School Year Column -->
        <ng-container matColumnDef="schoolYear">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="year"> Année </th>
          <td mat-cell *matCellDef="let element" class="year"> {{element.schoolYear ? 'A' : ''}}{{element.schoolYear}} </td>
        </ng-container>
      
        <!-- Actions Column -->
        <ng-container matColumnDef="actions" *ngIf="actions.length > 0">
          <th mat-header-cell *matHeaderCellDef class="actions"> Actions </th>
          <td mat-cell *matCellDef="let element" class="actions">
            <span *ngFor="let a of actions" [ngSwitch]="a" class="actions">
                <button *ngSwitchCase="'manage'" mat-icon-button matTooltip="Gérer" (click)="manage(element.discordId)">
                  <mat-icon>manage_accounts</mat-icon>
                </button>
                <button *ngSwitchCase="'kick'" mat-icon-button color="primary" matTooltip="Kick" (click)="kick(element.discordId)">
                  <mat-icon>highlight_off</mat-icon>
                </button>
                <button *ngSwitchCase="'ban'" mat-icon-button color="warn" matTooltip="Ban" (click)="ban(element.discordId)">
                  <mat-icon>block</mat-icon>
                </button>
                <button *ngSwitchCase="'assoBan'" mat-icon-button [color]="userIsBan(element.discordId) ? 'primary' : 'warn'" (click)="assoBan(element.discordId)">
                  <mat-icon *ngIf="userIsBan(element.discordId)" matTooltip="Unban">done</mat-icon>
                  <mat-icon *ngIf="!userIsBan(element.discordId)" matTooltip="Ban">block</mat-icon>
                </button>
                <span *ngIf="isAcceptable(element.discordId)">
                  <button *ngSwitchCase="'accept'" mat-icon-button color="accent" matTooltip="Accepter" (click)="accept(element.discordId)">
                    <mat-icon>done</mat-icon>
                  </button>
                </span>
                <span *ngIf="isRefusable(element.discordId)">
                  <button *ngSwitchCase="'deny'" mat-icon-button color="warn" matTooltip="Refuser" (click)="deny(element.discordId)">
                    <mat-icon>close</mat-icon>
                  </button>
                </span>
            </span>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow class="full-width">
        <td class="mat-cell" colspan="4" class="full-width">Aucun élément trouvé...</td>
        </tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[listSize ? listSize : 10, 25, 50]" aria-label="Select page of users"></mat-paginator>
</div>