.list {
    width: 100%;
}

table {
    width: 100%;
}

.mat-row:hover {
    background: #303030;
}

.search {
    margin: 20px 0 10px;
    display: flex;
    align-items: center;
}

.f1 {
    flex: 1;
}

.actions {
    width: 80px;
    white-space: nowrap;
}

.action {
    width: 40px;
}

.role {
    width: 72px;
}

.year {
    width: 51px;
}

.school {
    width: 44px;
}

.full-width {
    width: 100%;
}