.full-width {
    width: 100%;
}

.droits {
    display: flex;
    flex-direction: column;
}

.droits span {
    margin-top: 20px;
}

.droits .mat-slide-toggle {
    margin: 10px 0;
}

.btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}