<form [formGroup]="channelForm" (ngSubmit)="onValidate()">
    <mat-form-field  class="full-width" appearance="fill" color="accent">
        <mat-label>Nom du salon</mat-label>
        <span matPrefix>{{channelToUpdate?.emoji}}┃</span>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="name?.errors?.required">
            Le nom du salon est obligatoire.
        </mat-error>
    </mat-form-field>
        
    <div class="droits">
        <span>Droits des visiteurs</span>
        <mat-slide-toggle color="primary" formControlName="vRead" *ngIf="channelType === 'text'">
            Lire les messages
        </mat-slide-toggle>
        <mat-slide-toggle color="primary" formControlName="vWrite" *ngIf="channelType === 'text'">
            Écrire dans le salon
        </mat-slide-toggle>

        <mat-slide-toggle color="primary" formControlName="vConnect" *ngIf="channelType === 'voice'">
            Se connecter
        </mat-slide-toggle>
        <mat-slide-toggle color="primary" formControlName="vSpeak" *ngIf="channelType === 'voice'">
            Parler
        </mat-slide-toggle>
    </div>
    <div class="btns">
        <button mat-stroked-button type="button" (click)="closeDialog()">Annuler</button>
        <button mat-flat-button type="submit" color="primary">
            Valider
        </button>
    </div>
</form>