<mat-card class="card" class="orange-border">
    <mat-card-header class="full-width">
        <mat-card-title>
            <h1>{{asso?.name}}</h1>
            <div class="fix-pos">
            <button mat-raised-button color="primary" (click)="back()">
                <mat-icon>arrow_back</mat-icon>Retour
            </button>
            </div>
        </mat-card-title>
        <mat-card-subtitle>
            <h2>{{asso?.category}}</h2>
            <span>Référent : {{asso?.referentName ? asso?.referentName : 'Aucun'}}</span>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="Utilisateurs">
                <div class="users-container">
                    <div class="users margin">
                        <span>Les staffs</span>
                        <app-user-list [allUsers]="staffs" [listSize]=7 [actions]="['accept', 'deny']" [page]="'staff'" [assoName]="assoName" [userType]="'status'"></app-user-list>
                    </div>
                    <div class="users">
                        <span>Les visiteurs</span>
                        <app-user-list [allUsers]="visitors" [listSize]=7 [actions]="['assoBan']" [page]="'visitor'" [assoName]="assoName" [userType]="''"></app-user-list> 
                    </div>  
                </div>     
            </mat-tab>
            <mat-tab label="Salons">
                <div class="channels">
                    <div class="dflex">
                        <div>
                            <span class="title">Les salons</span><br>
                            <span [class]="channels.length === 5 ? 'warn' : ''">Nombre de salons : {{channels.length}}/5</span>
                        </div>
                        <button mat-icon-button color="primary" matTooltip="Créer" (click)="addNewChannel()">
                            <mat-icon>add_circle</mat-icon>
                        </button>
                    </div>
                    <app-channel-list [channels]="channels" [asso]="asso" class="full-width, full-height"></app-channel-list>
                </div>  
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>