.mat-card {
    background-color: #303030 !important;
    width: 90%;
    min-height: 800px;
    margin: 50px 5%;
    box-shadow: 10px 10px 5px 1px rgb(0 0 0 / 20%);
}

.fix-pos {
    position: absolute;
    right: 16px;
    top: 16px;
}

.fix-pos .mat-icon {
    margin-right: 5px;
}

.full-width {
    width: 100%;
}

.mat-card-subtitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orange-border {
    border: 5px solid #ff6900;
    border-radius: 10px;
}

.users-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.full-height {
    height: 100%;
}

.users {
    margin-top: 1%;
    min-width: 49%;
    max-width: 100%;
}

.margin {
    margin-right: 2%;
}

.users span {
    font-weight: normal;
    font-size: 24px;
}

.channels {
    margin-top: 1%;
}

.title {
    font-weight: normal;
    font-size: 24px;
}

.warn {
    color: #f50040;
}

.dflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dflex .mat-icon {
    font-size: 36px;
    width: 36px;
    height: 36px;
    line-height: 36px;
}