<div class="list">
    <table mat-table [dataSource]="dataSource" matSort class="list">

        <!-- Type Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="type"> Type </th>
            <td mat-cell *matCellDef="let element" class="type">
                <mat-icon *ngIf="element.type === 'text'" matTooltip="Textuel">tag</mat-icon>
                <mat-icon *ngIf="element.type === 'voice'" matTooltip="Vocal">volume_up</mat-icon>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
            <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
        </ng-container>

        <!-- Visitor Column -->
        <ng-container matColumnDef="visitorPerms">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Permissions visiteur </th>
          <td mat-cell *matCellDef="let element"> {{getVisitorPerm(element.permissionOverwrites)}} </td>
        </ng-container>
      
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="actions"> Actions </th>
          <td mat-cell *matCellDef="let element" class="actions">
            <button mat-icon-button color="primary" matTooltip="Modifier" (click)="updateChannel(element.id)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" matTooltip="Supprimer" (click)="deleteChannel(element.id)">
                <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Aucun élément</td>
        </tr>
    </table>
</div>