h1 {
    display: flex;
    align-items: center;
}

.mat-dialog-container {
    width: 600px;
}

.selector {
    width: 100%;
}

.btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.click {
    color: #87ccd3;
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
}

.form-channel {
    margin-top: 20px;
}

.radio-group {
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.mb {
    margin-bottom: 10px;
}

.full-width {
    width: 100%;
}

.droits {
    display: flex;
    flex-direction: column;
}

.droits .mat-slide-toggle {
    margin: 10px 0;
}