<h1 mat-dialog-title>
    Ajouter un salon à {{data.asso.name}}
</h1>
<mat-dialog-content>
    <form [formGroup]="newChannelFrom" (ngSubmit)="onValidate()">
        <mat-form-field appearance="fill" color="accent" class="selector">
            <mat-label>Salon prédéfini</mat-label>
            <mat-select formControlName="channel" multiple>
              <mat-select-trigger>
                {{channel?.value ? channel?.value[0] : ''}}
                <span *ngIf="channel?.value?.length > 1">
                  (+{{channel?.value.length - 1}} {{channel?.value?.length === 2 ? 'autre' : 'autres'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let channel of channelList" [value]="channel">{{channel}}</mat-option>
            </mat-select>
            <mat-error *ngIf="!newChannelFrom.valid">
                Limite de salons atteinte !
            </mat-error>
          </mat-form-field>
          <span *ngIf="canCreateCustomChan()" (click)="custom = !custom" class="click">Personnaliser un salon</span>
          <div class="form-channel" *ngIf="canCreateCustomChan() && custom">
            <label id="radio-group-label">Quel est le type de votre salon ?</label>
            <mat-radio-group aria-label="radio-group-label" class="radio-group">
                <mat-radio-button value="text" [checked]="true" (change)="isVoice = false">Textuel</mat-radio-button>
                <mat-radio-button value="voice" (change)="isVoice = true">Vocal</mat-radio-button>
            </mat-radio-group>
            <mat-divider class="mb"></mat-divider>

            <mat-form-field  class="full-width" appearance="fill" color="accent">
                <mat-label>Nom du salon</mat-label>
                <span matPrefix>{{emojis[isVoice ? 'voice' : 'text']}}┃</span>
                <input matInput formControlName="name">
            </mat-form-field>
                
            <div class="droits">
                <span>Droits des visiteurs</span>
                <mat-slide-toggle color="primary" formControlName="vRead">
                    Voir le salon
                </mat-slide-toggle>
                <mat-slide-toggle color="primary" formControlName="vWrite" *ngIf="!isVoice">
                    Écrire dans le salon
                </mat-slide-toggle>
        
                <mat-slide-toggle color="primary" formControlName="vConnect" *ngIf="isVoice">
                    Se connecter
                </mat-slide-toggle>
                <mat-slide-toggle color="primary" formControlName="vSpeak" *ngIf="isVoice">
                    Parler
                </mat-slide-toggle>
            </div>

        </div>
          <div class="btns">
              <button mat-stroked-button type="button" (click)="closeDialog()">Annuler</button>
              <button mat-flat-button type="submit" color="primary" [disabled]="!canVal">
                  Valider
              </button>
          </div>
    </form>
</mat-dialog-content>