<h1 mat-dialog-title>
    Informations personnelles de {{data.user.username}}
</h1>
<mat-dialog-content>
    <form [formGroup]="userForm" class="form">
        <mat-form-field class='half'>
            <mat-label>Nom</mat-label>
            <input matInput formControlName="nom" required>
            <mat-error *ngIf="nom?.errors?.required">
                Le nom est obligatoire.
            </mat-error>
        </mat-form-field>

        <mat-form-field class='half'>
            <mat-label>Prénom</mat-label>
            <input matInput formControlName="prenom" required>
            <mat-error *ngIf="prenom?.errors?.required">
                Le prénom est obligatoire.
            </mat-error>
        </mat-form-field>

        <mat-form-field class='half'>
            <mat-label>École</mat-label>
            <mat-select formControlName="ecole" required>
                <mat-option *ngFor="let ecole of ecoles" [value]="ecole">
                    {{ecole}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="ecole?.errors?.required">
                L'école est obligatoire.
            </mat-error>
        </mat-form-field>

        <mat-form-field class='half'>
            <mat-label>Année</mat-label>
            <mat-select formControlName="annee" required>
                <mat-option *ngFor="let annee of annees" [value]="annee">
                    {{annee}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="annee?.errors?.required">
                L'année est obligatoire.
            </mat-error>
        </mat-form-field>
    </form>

    <div class="full-width">
        <button mat-stroked-button class="title" (click)="addAssoPanel = !addAssoPanel">
            <mat-icon [class]="addAssoPanel ? 'rotate' : 'none'">chevron_right</mat-icon>Ajouter une association à {{data.user.username}}
        </button>
    </div>

    <div *ngIf="addAssoPanel">
        <form [formGroup]="userAssoForm" class="form-bis">
            <mat-form-field class='f1' appearance="outline" color="accent">
                <mat-label>Choisir l'association à ajouter</mat-label>
                <input matInput formControlName="name" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let asso of filteredAssos | async" [value]="asso">
                    {{asso}}
                  </mat-option>
                </mat-autocomplete>
            </mat-form-field>
    
            <button mat-stroked-button color="accent" *ngIf="name?.value !== ''" (click)="addAsso()" class="add-btn">
                <mat-icon>add</mat-icon>Ajouter
            </button>
        </form>
        <mat-checkbox (change)="isStaff = !isStaff" [checked]="isStaff" [class]="isStaff ? 'cb' : ''">{{data.user.username}} est un staff</mat-checkbox>
    </div>

    <div class="full-width">
        <button mat-stroked-button class="title" (click)="tablePanel = !tablePanel">
            <mat-icon [class]="tablePanel ? 'rotate' : 'none'">chevron_right</mat-icon>Liste des associations de {{data.user.username}}
        </button>
    </div>

    <div *ngIf="tablePanel">
        <table mat-table [dataSource]="dataSource" matSort matSortActive="userStatus" matSortDirection="asc" class="full-width">
    
            <!-- status Column -->
            <ng-container matColumnDef="userStatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="status"> Statut </th>
              <td mat-cell *matCellDef="let element" [ngSwitch]="element.userStatus" class="status"> 
                <mat-icon *ngSwitchCase="'accepted'" matTooltip="Accepté" color="primary">verified</mat-icon>
                <mat-icon *ngSwitchCase="'pending'" matTooltip="En attente" color="accent">hourglass_empty</mat-icon>
                <mat-icon *ngSwitchCase="'refused'" matTooltip="Refusé" color="warn">do_disturb_on</mat-icon>
              </td>
            </ng-container>
    
            <!-- status Column -->
            <ng-container matColumnDef="userRole">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="role"> Rôle </th>
              <td mat-cell *matCellDef="let element" [ngSwitch]="element.userRole" class="role"> 
                <mat-icon *ngSwitchCase="'referent'" matTooltip="Référent">supervisor_account</mat-icon>
                <mat-icon *ngSwitchCase="'staff'" matTooltip="Staff">person</mat-icon>
                <mat-icon *ngSwitchCase="'visiteur'" matTooltip="Visiteur">minimize</mat-icon>
              </td>
            </ng-container>
    
            <!-- Asso name Column -->
            <ng-container matColumnDef="assoName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Association </th>
              <td mat-cell *matCellDef="let element"> {{element.assoEmoji}}┃{{element.assoName}} </td>
            </ng-container>
          
            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="actions"> Actions </th>
              <td mat-cell *matCellDef="let element" class="actions">
                <span *ngFor="let a of actions" [ngSwitch]="a" class="actions">
                    <span *ngIf="isAcceptable(element)">
                      <button *ngSwitchCase="'accept'" mat-icon-button color="accent" matTooltip="Accepter" (click)="accept(element)" >
                        <mat-icon>done</mat-icon>
                      </button>
                    </span>
                    <span *ngIf="isRefusable(element)">
                      <button *ngSwitchCase="'deny'" mat-icon-button color="warn" matTooltip="Refuser" (click)="deny(element)" >
                        <mat-icon>close</mat-icon>
                      </button>
                    </span>
                    <button *ngSwitchCase="'assoBan'" mat-icon-button color="warn" (click)="assoBan(element)">
                      <mat-icon *ngIf="!userIsBan(element)" matTooltip="Retirer">delete</mat-icon>
                    </button>
                </span>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow class="full-width">
                <td colspan="4" class="full-width">Aucun élément trouvé...</td>
            </tr>
    
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
    </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close >Annuler</button>
  <button mat-flat-button color="primary" (click)="onValidate()" [disabled]="!canValidate">
      Valider
    </button>
</mat-dialog-actions>