.full-width{
    width: 100%;
}

.form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.full{
    width: 100%;
    margin-top: 10px;
}

.form-bis {
    display: flex;
}

.f1 {
    flex: 1;
}

.add-btn {
    margin: 5px 0 0 20px;
    height: 59px;
}

.half{
    width: 45%;
    margin-top: 10px;
}

.mat-dialog-actions {
    justify-content: space-between;
}

.status {
    width: 90px;
}

.role {
    width: 50px;
}

.actions {
    width: 80px;
    white-space: nowrap;
}

.mat-divider {
    margin: 20px 0 30px;
}

.cb {
    color: #87ccd3;
}

.title {
    margin: 10px 0;
}

.none {
    transform: rotate(0);
}

.rotate {
    transform: rotate(90deg);
}