.center {
    display: flex;
    height: 40vh;
    justify-content: center;
    align-items: center;
}


@keyframes ldio-ld1hw6y6ehn-o {
    0%    { opacity: 1; transform: translate(0 0) }
   49.99% { opacity: 1; transform: translate(78.8px,0) }
   50%    { opacity: 0; transform: translate(78.8px,0) }
  100%    { opacity: 0; transform: translate(0,0) }
}
@keyframes ldio-ld1hw6y6ehn {
    0% { transform: translate(0,0) }
   50% { transform: translate(78.8px,0) }
  100% { transform: translate(0,0) }
}
.ldio-ld1hw6y6ehn div {
  position: absolute;
  width: 78.8px;
  height: 78.8px;
  border-radius: 50%;
  top: 59.1px;
  left: 19.7px;
}
.ldio-ld1hw6y6ehn div:nth-child(1) {
  background: #6758a2;
  animation: ldio-ld1hw6y6ehn 1.282051282051282s linear infinite;
  animation-delay: -0.641025641025641s;
}
.ldio-ld1hw6y6ehn div:nth-child(2) {
  background: #87ccd3;
  animation: ldio-ld1hw6y6ehn 1.282051282051282s linear infinite;
  animation-delay: 0s;
}
.ldio-ld1hw6y6ehn div:nth-child(3) {
  background: #6758a2;
  animation: ldio-ld1hw6y6ehn-o 1.282051282051282s linear infinite;
  animation-delay: -0.641025641025641s;
}
.loadingio-spinner-dual-ball-6mjttlcrfj5 {
  width: 197px;
  height: 197px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-ld1hw6y6ehn {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-ld1hw6y6ehn div { box-sizing: content-box; }