<div class="mat-app-background">
  <app-top-bar></app-top-bar>

  <router-outlet *ngIf="userService.isUserLoaded"></router-outlet>
</div>

<!-- LOADER -->
<div *ngIf="!userService.isUserLoaded" class="center">
    <div class="loadingio-spinner-dual-ball-6mjttlcrfj5">
        <div class="ldio-ld1hw6y6ehn">
          <div>
          </div>
          <div>
          </div>
          <div>
          </div>
        </div>
    </div>
</div>