.container {
    width: 100%;
    padding: 0 10%;
    margin: 30px 0;
}

h1 {
    margin-bottom: 20px;
}

.search {
    margin: 20px 10px 0;
    display: flex;
    align-items: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    max-height: 300px;
    min-width: 250px;
    margin: 10px;
}

.f1 {
    flex: 1;
}