<div class="container">
    <h1>Interface modérateur</h1>
    <mat-tab-group>
        <mat-tab label="Utilisateurs">
            <app-user-list [allUsers]="users" [actions]="['manage', 'kick', 'ban']" [userType]="'role'"></app-user-list>
        </mat-tab>
        <mat-tab label="Associations">
            <form [formGroup]="searchForm" class="search">
                <mat-form-field class="f1" appearance="outline">
                    <mat-label>Rechercher une association</mat-label>
                    <input
                        matInput
                        placeholder="LDV Esport..."
                        formControlName="searchAsso">
                </mat-form-field>
            </form>

            <div class="list">
                <app-asso-card *ngFor="let asso of filteredAssos" [asso]="asso" [users]="users" class="card"></app-asso-card>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>