<mat-card class="card" [class]="getColor('border')">
    <mat-card-header>
        <mat-card-title>
            <div class="flex">
                <span>{{asso.emoji}} {{asso.name}}</span>
                <div class="fix-pos" [class]="getColor('bg')">
                    <span>{{getStatus()}}</span>
                </div>
            </div>
        </mat-card-title>
        <mat-card-subtitle>
            {{asso.category}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <span class="ref">Référent : </span>
        <span>{{asso.referentName ? asso.referentName : 'Aucun'}}</span>
        <br>
        <p class="staffs">
            <span class="ref">Staff : </span>
            {{displayedStaffs}}
        </p>
    </mat-card-content>
    <mat-card-actions *ngIf="isModoOrReferent()">
        <button mat-stroked-button (click)="navigateToAsso(asso.name)">GÉRER</button>
    </mat-card-actions>
</mat-card>