.card {
    height: 100%;
    width: 100%;
    box-shadow: 5px 5px 3px 1px rgb(0 0 0 / 20%);
}

.ref {
    font-size: 16px;
}

.staffs {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex {
    display: flex;
}

.fix-pos {
    position: absolute;
    right: 16px;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 12px;
}

.mat-card-actions {
    display: flex;
    justify-content: flex-end;
}

.purple-bg {
    background-color: #6758a2;
}

.blue-bg {
    background-color: #87ccd3;
}

.orange-bg {
    background-color: #ff6900;
}

.red-bg {
    background-color: #f50040;
}

.purple-border {
    border: 5px solid #6758a2;
}

.blue-border {
    border: 5px solid #87ccd3;
}

.orange-border {
    border: 5px solid #ff6900;
}

.red-border {
    border: 5px solid #f50040;
}