<h1 mat-dialog-title>
    {{data.typeBan ? 'Bannissement' : 'Expulsion'}}
</h1>
<mat-dialog-content>
    <span>Êtes-vous sûr de vouloir {{data.typeBan ? 'bannir' : 'expulser'}} {{data.username}} ?</span>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Raison du {{data.typeBan ? 'ban' : 'kick'}}</mat-label>
      <input matInput [(ngModel)]="data.comment">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close>Annuler</button>
  <button mat-flat-button [mat-dialog-close]="validate()" [color]="data.typeBan ? 'warn' : 'primary'">
      {{data.typeBan ? 'Bannir' : 'Expulser'}}
    </button>
</mat-dialog-actions>
