.container {
    width: 100%;
    padding: 0 10%;
    margin-top: 30px;
}

.chip-area {
    margin: 20px 10px 0;
    display: flex;
    align-items: center;
}

.chip-area button { 
    height: 40px;
    min-width: 88px;
    margin-left: 30px;
}

.f1 {
    flex: 1;
}

.full-width {
    width: 100%;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    max-height: 300px;
    min-width: 300px;
    margin: 10px;
}

.title {
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    font-size: 24px;
}