<div class="container">
    <div class="title">
        <h1>Associations que vous encadrez</h1>
        <button class="raised-button-no-hover btn" (click)="navigateToDiscord()">
            <img src="../assets/icons/Discord-Logo-White.svg" height="20">
            Rejoindre le Discord
        </button>
    </div>
    <div class="chip-area">
        <mat-form-field class="f1">
            <mat-label>Postuler ailleurs en tant que staff</mat-label>
            <mat-chip-list #chipList>
            <mat-chip
                *ngFor="let asso of assosAsStaff"
                [removable]="removable"
                (removed)="removeStaff(asso)">
                {{asso}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
                placeholder="LDV Esport..."
                #assoStaffInput
                [formControl]="$any(assoAsStaff)"
                [matAutocomplete]="autoStaff"
                [matChipInputFor]="chipList"
                (matChipInputTokenEnd)="addStaff($event)">
            </mat-chip-list>
            <mat-autocomplete #autoStaff="matAutocomplete" (optionSelected)="selectedStaff($event)">
                <ng-container *ngFor="let asso of filteredAssosAsStaff | async">
                    <mat-option *ngIf="!assosAsStaff.includes(asso)" [value]="asso">
                    {{asso}}
                    </mat-option>
                </ng-container>
            </mat-autocomplete>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="post()" [disabled]="assosAsStaff.length === 0">Postuler</button>
    </div>

    <div class="list">
        <app-asso-card *ngFor="let asso of userAssos" [asso]="asso" [users]="users" class="card"></app-asso-card>
    </div>
</div>