//----------PALETTE----------//
/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
    50 : #edebf4,
    100 : #d1cde3,
    200 : #b3acd1,
    300 : #958abe,
    400 : #7e71b0,
    500 : #6758a2,
    600 : #5f509a,
    700 : #544790,
    800 : #4a3d86,
    900 : #392d75,
    A100 : #c7bdff,
    A200 : #9c8aff,
    A400 : #7057ff,
    A700 : #5b3dff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-accent: (
    50 : #f1f9fa,
    100 : #dbf0f2,
    200 : #c3e6e9,
    300 : #abdbe0,
    400 : #99d4da,
    500 : #87ccd3,
    600 : #7fc7ce,
    700 : #74c0c8,
    800 : #6ab9c2,
    900 : #57adb7,
    A100 : #ffffff,
    A200 : #eafdff,
    A400 : #b7f7ff,
    A700 : #9df5ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);






// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$forum-asso-primary: mat.define-palette($md-primary);
$forum-asso-accent: mat.define-palette($md-accent);

// The warn palette is optional (defaults to red).
$forum-asso-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$forum-asso-theme: mat.define-dark-theme((
  color: (
    primary: $forum-asso-primary,
    accent: $forum-asso-accent,
    warn: $forum-asso-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($forum-asso-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


//---------------------------CSS-----------------------------//

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    background-color: #303030;
    min-height: 100vh;
}

.mat-card-header-text {
    width: 100%;
}

.raised-button-no-hover {
    background-color: #6758a2;
    border: 0;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.raised-button {
    background-color: #6758a2;
    border: 0;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.raised-button:hover {
    background-color: white;
    color: #6758a2;
}

.raised-inversed-button {
    background-color: white;
    border: 0;
    border-radius: 10px;
    color: #6758a2;
    padding: 5px 10px;
    cursor: pointer;
}

.raised-inversed:hover {
    background-color: #6758a2;
    color: white;
}

.stroked-button-no-hover {
    background-color: transparent;
    border: 2px solid #6758a2;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.stroked-button {
    background-color: transparent;
    border: 2px solid #6758a2;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.stroked-button:hover {
    background-color: #6758a2;
}
