<div class="center">
    <mat-card class="form-card">
        <mat-card-header>
            <mat-card-title>
                Informations personnelles
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="infosForm" (ngSubmit)="onValidate()">
                <mat-form-field class='half mr'>
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="nom" required>
                    <mat-error *ngIf="nom?.errors?.required">
                        Le nom est obligatoire.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class='half ml'>
                    <mat-label>Prénom</mat-label>
                    <input matInput formControlName="prenom" required>
                    <mat-error *ngIf="prenom?.errors?.required">
                        Le prénom est obligatoire.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class='half mr'>
                    <mat-label>École</mat-label>
                    <mat-select formControlName="ecole" required>
                        <mat-option *ngFor="let ecole of ecoles" [value]="ecole">
                            {{ecole}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ecole?.errors?.required">
                        L'école est obligatoire.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class='half ml'>
                    <mat-label>Année</mat-label>
                    <mat-select formControlName="annee" required>
                        <mat-option *ngFor="let annee of annees" [value]="annee">
                            {{annee}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="annee?.errors?.required">
                        L'année est obligatoire.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full">
                    <mat-label>Quelle(s) association(s) souhaitez-vous rencontrer ?</mat-label>
                    <mat-chip-list #chipListVisitor>
                      <mat-chip
                        *ngFor="let asso of assosAsVisitor"
                        [removable]="removable"
                        (removed)="removeVisitor(asso)">
                        {{asso}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                      </mat-chip>
                      <input
                        placeholder="LDV Esport..."
                        #assoVisitorInput
                        [formControl]="$any(assoAsVisitor)"
                        [matAutocomplete]="autoVisitor"
                        [matChipInputFor]="chipListVisitor"
                        (matChipInputTokenEnd)="addVisitor($event)">
                    </mat-chip-list>
                    <mat-autocomplete #autoVisitor="matAutocomplete" (optionSelected)="selectedVisitor($event)">
                        <ng-container *ngFor="let asso of filteredAssosAsVisitor | async">
                            <mat-option *ngIf="!assosAsVisitor.includes(asso)" [value]="asso">
                              {{asso}}
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>

                <div class="left">
                    <span (click)="isStaff = !isStaff">Je suis staff ?</span>

                    <mat-form-field class="full-width" *ngIf="isStaff">
                        <mat-label>Quelle(s) association(s) encadrez-vous ?</mat-label>
                        <mat-chip-list #chipList>
                        <mat-chip
                            *ngFor="let asso of assosAsStaff"
                            [removable]="removable"
                            (removed)="removeStaff(asso)">
                            {{asso}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input
                            placeholder="LDV Esport..."
                            #assoStaffInput
                            [formControl]="$any(assoAsStaff)"
                            [matAutocomplete]="autoStaff"
                            [matChipInputFor]="chipList"
                            (matChipInputTokenEnd)="addStaff($event)">
                        </mat-chip-list>
                        <mat-autocomplete #autoStaff="matAutocomplete" (optionSelected)="selectedStaff($event)">
                            <ng-container *ngFor="let asso of filteredAssosAsStaff | async">
                                <mat-option *ngIf="!assosAsStaff.includes(asso)" [value]="asso">
                                {{asso}}
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>

                </div>

                <div class="validation">
                    <button mat-raised-button color="primary" type="submit">Valider</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>