.center {
    max-height: 80vh;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.left {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0 5%;
    margin-top: 30px;
    flex-wrap: wrap;
}

.left span {
    color: #87ccd3;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 10px;
}

.form-card {
    max-width: 600px;
    text-align: center;
}

.full-width{
    width: 100%;
}

.full{
    width: 90%;
    margin-top: 10px;
}

.half{
    width: 40%;
    margin-top: 10px;
}

.mr {
    margin-right: 5%;
}

.ml {
    margin-left: 5%;
}

.validation {
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: flex-end;
}