.options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 80px;
}

.question {
    margin-bottom: 20px;
    font-size: 18px;
}

button {
    font-size: 24px;
    margin: 0 20px;
}

.btn-area {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    height: 100%;
    margin-top: 20px;
}

.pp {
    border-radius:50%;
    height: 100px;
    margin-bottom: 20px;
}

.full-width {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-profile-border {
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to right, #6758a2, #87ccd3);
    border-radius: 10px;
    width: 250px;
    height: 300px;
    margin-bottom: 50px;
}

.card-profile {
    text-align: center;
    background-color: #1c1c1b;
    border-radius: 5px;
    padding: 20px 10px;
    width: 230px;
    height: 280px;
}