<div class="container">
    <div class="options">
        <div class="full-width">
            <div class="card-profile-border">
                <div class="card-profile">
                    <img *ngIf="authUser?.avatarURL" src="{{authUser?.avatarURL}}" alt="profile_picture" class="pp">
                    <h2>{{authUser?.lastName}} {{authUser?.firstName}}</h2>
                    <p>{{authUser?.username}}<br>{{authUser?.school}} - A{{authUser?.schoolYear}}</p>
                </div>
            </div>
        </div>
        <span class="question">Bienvenue {{authUser?.firstName ? authUser?.firstName : authUser?.username}}, pense à rejoindre le serveur Discord</span>
        <div class="btn-area">
            <button class="raised-button-no-hover" (click)="navigateToDiscord()">
                <img src="../assets/icons/Discord-Logo-White.svg" height="20">
                Rejoindre le Discord</button>
        </div>
    </div>
</div>