.bar {
    background-color: #303030;
    box-shadow: 0 2px 15px #202020;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.header h3 {
    margin-left: 20px;
    font-weight: normal;
}

.header {
    display: flex;
    align-items: center;
}

.mat-icon {
    margin-right: 16px;
}