<div class="bar">
    <div class="header">
        <img src="../assets/images/logo-forum-transparent.png" height="50">
        <h3 *ngIf="userService.currUser?.username">Connecté en tant que : {{userService.currUser?.username}}</h3>
    </div>
    <button mat-flat-button color="warn" (click)="auth.logout()">
        <mat-icon>logout</mat-icon>Se déconnecter
    </button>
</div>